body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, Tahoma;
    background-color: #c0bbc5b6; /* Color de fondo más suave */
}

.header {
    display: flex; /* Usa flexbox para alinear elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between; /* Espacio uniforme entre los elementos */
    padding: 25px; /* Añade espacio alrededor del encabezado */
    background-image: url("/static/img/fondocompu.jpg"); /* Asegúrate de que la ruta sea correcta */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el encabezado */
    background-position: center;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: #d0d7da; /* Color de texto en el encabezado */
    width: 100%; /* Ajusta el ancho del encabezado al 100% */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total del elemento */
}

.logo-left {
    width: 300px; /* Ajusta el tamaño del logo */
    margin-right: 10px; /* Espacio entre el logo y el título */
}

.logo-right {
    width: 100px; /* Ajusta el tamaño del logo */
    margin-left: 10px; /* Espacio entre el logo y el título */
}

.container {
    width: 80%; /* Ancho del contenedor ajustado */
    max-width: 400px; /* Ancho máximo del contenedor */
    margin: 50px auto; /* Centro verticalmente el contenedor y lo posiciona en el centro horizontal de la página */
    background: #e9dddd; /* Color de fondo blanco */
    padding: 20px; /* Ajusta el padding para un mejor espaciado */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centra el contenido del contenedor horizontalmente */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total del elemento */
}

.container h2 {
    color: #333; /* Color de texto más oscuro */
    margin-bottom: 20px;
    align-items: center;
}

input[type="text"],
input[type="password"],
select {
    width: calc(100% - 40px); /* Reduce el ancho del campo de entrada y del select */
    padding: 9px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%; /* Ajusta el ancho del botón */
    padding: 12px; /* Espacio interior del botón */
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Color de botón más vibrante */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor */
}

.container p {
    text-align: center;
    margin-top: 20px;
}

.container a {
    color: #007bff; /* Color de enlace más vibrante */
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column; /* Cambia la dirección de flexbox */
        text-align: center; /* Centra el texto */
    }
    
    .logo-left,
    .logo-right {
        width: 50%; /* Ajusta el ancho al 50% para mostrar ambos logos en una fila */
        max-width: 150px; /* Establece un ancho máximo para los logos */
        margin: 10px 0; /* Añade espacio vertical */
    }

    .header h1 {
        font-size: 1.5rem; /* Tamaño de letra más pequeño para dispositivos móviles */
    }

    img.logo-right {
        max-width: 80px; /* Ajusta el tamaño máximo de la imagen logo-right en dispositivos móviles */
    }

    .container {
        margin: 50px auto; /* Establece un margen de 50px arriba y abajo y centrado horizontalmente */
        text-align: center; /* Centra el texto dentro del contenedor */
    }
}